* {
  padding: 0.5%;
  margin: 0.5%;
  box-sizing: border-box; }

/*-------DONATE--------*/
.donate {
  position: fixed;
  right: 1%;
  bottom: 1%; }

/*MAIN*/
main {
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/*FIN-MAIN*/
/*----MEDIA QUERIES----*/
/*HEADER*/
header {
  background-color: rgba(13, 43, 141, 0.342); }
  header .titulo {
    text-align: center;
    font-size: 25px;
    background-color: rgba(37, 70, 255, 0.452);
    font-family: 'Courier New', Courier, monospace; }
  header .logo img {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 150px;
    height: 150px;
    border: #6ce6c1 solid;
    border-radius: 50%;
    margin: auto;
    display: block; }
  header .barradeinicio ul li a img {
    height: 30px;
    width: 30px; }
  header .barradeinicio .barradeinicio-opciones {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: rgba(36, 39, 196, 0.651);
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 500px) {
      header .barradeinicio .barradeinicio-opciones {
        flex-direction: column; } }
    header .barradeinicio .barradeinicio-opciones li {
      width: 25%;
      list-style-type: none;
      color: antiquewhite;
      background-color: rgba(26, 48, 77, 0.678);
      transition: transform 0.5s; }
      @media screen and (max-width: 500px) {
        header .barradeinicio .barradeinicio-opciones li {
          width: 100%; } }
      header .barradeinicio .barradeinicio-opciones li:hover {
        transform: scale(1.09); }
      header .barradeinicio .barradeinicio-opciones li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: aliceblue; }
  header .barradeinicio .barradeinicio-contactos {
    background-color: #2061615d;
    display: flex;
    justify-content: center; }
    header .barradeinicio .barradeinicio-contactos li {
      list-style-type: none;
      transition: 0.1s; }
      header .barradeinicio .barradeinicio-contactos li:hover {
        transform: scale(1.1); }

/*FIN-HEADER*/
/*----MEDIA QUERIES----*/
/*INDEX*/
main h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

main section .infografia-quiensoy {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: black;
  background-color: rgba(255, 255, 255, 0.356);
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  @media screen and (max-width: 800px) {
    main section .infografia-quiensoy {
      flex-direction: column; } }
  main section .infografia-quiensoy img {
    width: 300px;
    height: 300px; }
  main section .infografia-quiensoy div {
    margin: 5px;
    text-align: center;
    border: 5px solid;
    border-color: rgba(0, 0, 0, 0.651); }
    main section .infografia-quiensoy div p {
      font-size: 30px; }

main section .infografia-datosdemi {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: black;
  background-color: rgba(255, 255, 255, 0.356);
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  @media screen and (max-width: 800px) {
    main section .infografia-datosdemi {
      flex-direction: column; } }
  main section .infografia-datosdemi img {
    width: 300px;
    height: 400px; }
  main section .infografia-datosdemi div {
    margin: 5px;
    text-align: center;
    border: 5px solid;
    border-color: rgba(0, 0, 0, 0.651); }
    main section .infografia-datosdemi div p {
      font-size: 25px; }

/*FIN-INDEX*/
/*COMMISSION-LIST*/
main .commissions section h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0f2666;
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 20px; }

main .commissions section div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px; }
  @media screen and (max-width: 800px) {
    main .commissions section div {
      flex-direction: column;
      align-items: center; } }
  main .commissions section div p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 10px; }
  main .commissions section div div {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.685); }

main .commissions .commissions-headshot {
  padding: 10px;
  background-color: rgba(51, 146, 184, 0.514);
  border-radius: 10px; }
  main .commissions .commissions-headshot .commissions-headshot-target {
    display: flex;
    justify-content: center; }
  main .commissions .commissions-headshot div div img {
    height: 250px;
    width: 250px;
    border-radius: 15px; }

main .commissions .commissions-halfbody {
  border-radius: 10px;
  background-color: rgba(139, 181, 201, 0.603); }
  main .commissions .commissions-halfbody .commissions-halfbody-target {
    display: flex;
    justify-content: center; }
    main .commissions .commissions-halfbody .commissions-halfbody-target div img {
      height: 320px;
      width: 250px;
      border-radius: 15px; }

main .commissions .commissions-fullbody {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.288); }
  main .commissions .commissions-fullbody .commissions-fullbody-target {
    display: flex;
    justify-content: center; }
    main .commissions .commissions-fullbody .commissions-fullbody-target div img {
      height: 400px;
      width: 300px; }

main .commissions p {
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: underline;
  font-weight: bold; }

main section .title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding: 20px; }

/*FIN-COMMISSION-LIST*/
/*EXAMPLES*/
.ejemplos {
  border: 1px black solid; }
  .ejemplos .ejemplos_contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "dibujo1 dibujo2 dibujo3 dibujo4" "dibujo1 dibujo5 dibujo6 dibujo4"; }
    @media screen and (max-width: 800px) {
      .ejemplos .ejemplos_contenedor {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "dibujo2 dibujo3" "dibujo5 dibujo6" "dibujo1 dibujo4" "dibujo1 dibujo4"; } }
    @media screen and (max-width: 500px) {
      .ejemplos .ejemplos_contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "dibujo2" "dibujo3" "dibujo5" "dibujo6" "dibujo1" "dibujo4"; } }

.ejemplos_contenedor .dibujo1 {
  grid-area: dibujo1; }

.ejemplos_contenedor .dibujo2 {
  grid-area: dibujo2; }

.ejemplos_contenedor .dibujo3 {
  grid-area: dibujo3; }

.ejemplos_contenedor .dibujo4 {
  grid-area: dibujo4; }

.ejemplos_contenedor .dibujo5 {
  grid-area: dibujo5; }

.ejemplos_contenedor .dibujo6 {
  grid-area: dibujo6; }

.ejemplos_contenedor div .dibujo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s; }
  .ejemplos_contenedor div .dibujo:hover {
    transform: scale(1.1); }

/*FIN-EXAMPLES*/
/*TAS&FAQ*/
.tasfaq {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 255, 255, 0.13);
  border-radius: 10px;
  margin: auto;
  text-align: center; }
  .tasfaq div {
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 15px;
    display: inline-block; }
  .tasfaq .tasfaq-iwilldraw h2 {
    color: #17ff17; }
  .tasfaq .tasfaq-iwontdraw h2 {
    color: red; }

/*FIN-TAS&FAQ*/
/*FOOTER*/
footer {
  background-color: rgba(13, 43, 141, 0.342);
  display: flex;
  justify-content: space-around; }
  footer .contactos {
    background-color: rgba(0, 0, 0, 0.226);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; }
    footer .contactos .contacto_logo {
      width: 150px;
      padding: 20px; }
    footer .contactos ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      text-decoration: none; }
      footer .contactos ul li img {
        width: 30px;
        height: 30px; }
  footer .recorrido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.226);
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
    footer .recorrido ul {
      align-items: center;
      list-style: none; }
      footer .recorrido ul li {
        width: 100%; }
        footer .recorrido ul li a {
          text-decoration: none; }

/*FIN-FOOTER*/
/*----MEDIA QUERIES----*/
