$color_principal:rgba(13, 43, 141, 0.342);
$color_fondoh1: rgba(37, 70, 255, 0.452);
$color_bordelogo: rgb(108, 230, 193);
$color_fondobarradeopciones: rgba(36, 39, 196, 0.651);
$color_fondomenusbarradeopciones:rgba(26, 48, 77, 0.678);
$color_contactos: #2061615d;
$color_secundario_footer: rgba(0, 0, 0, 0.226) ;

